# Temp
tmp/
/layers
src/test.ts
*.p8
*.sql
*.csv
*.txt

# Compiled Output
/dist
/build
/node_modules
/.webpack
/api

# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests
/coverage
/.nyc_output

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Enviroment
*.env*
!.env.example
!.env.docker.example

# Docker
/docker

# tsconfig
tsconfig*
!tsconfig.json

# AWS
!docker-events-listener-build/aws_config.txt
!docker-events-listener-build/aws_credentials.txt

# Deploy
.serverless

# Serverless
serverless.d.ts
serverless.js
serverless.js.map

# NPM
package-lock.json

# Experiments
/src/.experiments/*
!/src/.experiments/.gitkeep
